*{
    margin: 0;
}
body{
    font-family: 'Heebo', sans-serif !important ;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(65, 120, 188) 14%, rgb(56, 118, 200) 22%, rgb(115, 128, 249) 55%, rgb(66, 108, 233) 82%);
    overflow-x: hidden;
}

.hero2{
    margin-top: 65px;
    background-image: url(https://pbs.twimg.com/media/FwD2KlTWYAAh6cr?format=jpg&name=large);
    background-size: cover;
    background-position: center;
}
.parque h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.parque p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.stadium{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stadium img{
    height: 280px;
    width: 500px;
    box-shadow: 0px 0px 20px;
    border-style: solid;
    border-color: rgb(0, 30, 87);
    margin: 0;
    

}
@media (max-width:700px){
    .stadium img{
        height: 180;
        width: 290px;
        margin-top: 30px;
    }
}

footer {
    margin-top: 120px;
}

.results {
    font-family: 'Heebo', sans-serif ; 
    background-image: url(../images/background-index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.partidos{
   display: flex;
   margin-top: 30px;
}
.torneo {
    margin:50px 150px;
}
.torneo table{
    margin-top: 40px;
    background-color: rgb(189, 205, 251);
    border-radius:  10px;
    border: 5px ;
    box-shadow: 0 0 10px;
}
.torneo h2{
    background-color: rgb(247, 80, 80);
    font-size: 40px;
    font-weight: 500;
    border-radius:  6px;
}
.partidos  img{
    height: 25px;  
}
.matches ol{ 
    margin: 40px 0 0 200px ;
    font-size: 25px;
    border-radius:  6px;
    border: 5px ;
}
.matches h3{
    background-color: rgb(247, 80, 80);
    margin-top: 50px;
    margin-left: 300px; 
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 500;
    margin-right: 200px;
    border-radius:  6px;
    border: 5px ;
    box-shadow: 0 0 20px;
}
.matches img{
    margin: 10px 0 20px 200px;
    height: 480;
    width: 700;
   
}
.history{
    background: url(https://img.freepik.com/foto-gratis/vista-superior-viejos-periodicos-franceses_23-2149318857.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: 3px solid black;
    border-radius:  6px;
    backdrop-filter: blur(2px);
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 90px;  
}
.titles h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
    
}
.titles p{
    font-size: 20px ;
    margin-top: 0px;
}
.prudencio{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prudencio-text iframe{
    height: 500px;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0 0 10px;
}
.prudencio-2 img{
    margin-top: 30px;
    height: 400px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.gallery img{
    width: 100%;
}
.gallery{
    margin-top: 60px;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 6px;
}
.column p{
    font-size: 30px;
    font-weight: 500;
    border: 1px solid black;
    border-style: dotted;
    margin: 0;
}
.hero-contacto{
    margin-top: 100px;
   
}
