*{
    margin: 0;
}
body{
    font-family: 'Heebo', sans-serif !important ;
    background-color: rgb(189, 205, 251);
}
.grid-container1{  
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 70px auto 40px;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.grid-container1 header{
    grid-area: header;
    background-color: #001e57;
}
.grid-container1 main{
    background-color: rgb(183, 199, 224);
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 400px 100px 400px 400px;
    grid-template-areas: 
        "hero hero hero hero hero"
        ". . parque . ."
        ". img1 . img2 ."
        ". . map . ."
    ;
    grid-gap: 20px;
    column-gap: 40px;

}
.grid-container1 footer{
    grid-area: footer;
    display: flex;
    background: #002F87;;
    width: 100%;   
    align-items: center;
}
footer {
    margin-top: 120px;
}
.stadium{
    width: 100%;
    grid-area: parque; 
}

.hero{
    grid-area: hero;
    background-image: url(https://imagenes.montevideo.com.uy/imgnoticias/201903/687469.JPG) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.contenedor-textos h2{
    font-size: 3vw;
    font-weight: 800;
}
.hero p{
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px;
    border-radius:  6px;
    box-shadow: 0 0 10px #222 ;
    backdrop-filter: blur(10px);
    text-align: center;
    color: rgb(255, 255, 255);
}
.hero a{
    margin: 5px;
    color: white;
    font-size: 18px;
    font-weight: 10 ;
    text-decoration: blink ;
    background-color: black ;
    padding: 0.005px 0.005px
}
.stadium h3{
    margin: 20px;
    font-size: 35px;
}

.image1 {
    grid-area: img1;
    height: 350px;
    width: 600px;
    box-shadow: 0px 0px 20px;
    border-style: solid;
    border-color: rgb(0, 30, 87);
}
.image2 {
    grid-area: img2;
    height: 350px;
    width: 600px;
    box-shadow: 0px 0px 20px;
    border-style: solid;
    border-color: rgb(0, 30, 87);
    
}
.fotos img{
    height: 360px;
    width: 600px;
    
}
iframe{
    grid-area: map;
}
.results {
    font-family: 'Heebo', sans-serif ; 
    background-image: url(../images/background-index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.partidos{
   display: flex;
   margin-top: 30px;
}
.torneo {
    margin:50px 150px;
}
.torneo table{
    margin-top: 40px;
    background-color: rgb(189, 205, 251);
    border-radius:  10px;
    border: 5px ;
    box-shadow: 0 0 10px;
}
.torneo h2{
    background-color: rgb(247, 80, 80);
    font-size: 40px;
    font-weight: 500;
    border-radius:  6px;
}
.partidos  img{
    height: 25px;  
}
.matches ol{ 
    margin: 40px 0 0 200px ;
    font-size: 25px;
    border-radius:  6px;
    border: 5px ;
}
.matches h3{
    background-color: rgb(247, 80, 80);
    margin-top: 50px;
    margin-left: 300px; 
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 500;
    margin-right: 200px;
    border-radius:  6px;
    border: 5px ;
    box-shadow: 0 0 20px;
}
.matches img{
    margin: 10px 0 20px 200px;
    height: 480;
    width: 700;
   
}
.history{
    background: url(https://img.freepik.com/foto-gratis/vista-superior-viejos-periodicos-franceses_23-2149318857.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: 3px solid black;
    border-radius:  6px;
    backdrop-filter: blur(2px);
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 90px;  
}
.titles h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
    
}
.titles p{
    font-size: 20px ;
    margin-top: 0px;
}
.prudencio{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prudencio-text iframe{
    height: 500px;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0 0 10px;
}
.prudencio-2 img{
    margin-top: 30px;
    height: 400px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.gallery img{
    width: 100%;
}
.gallery{
    margin-top: 60px;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 6px;
}
.column p{
    font-size: 30px;
    font-weight: 500;
    border: 1px solid black;
    border-style: dotted;
    margin: 0;
}
.hero-contacto{
    margin-top: 100px;
   
}


