main{
    .hero2{
        background-image: url(https://pbs.twimg.com/media/FwD2KlTWYAAh6cr?format=jpg&name=large);
        background-size: cover;
        background-position: center;
        button a{
            text-decoration: none;
            color: white;
        }
    }
    .parque{
        h3{
            @include posicionamiento;
            margin-top: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }
        p{
            @include posicionamiento;
            margin-bottom: 40px;
        }
    }
    .row{
        margin-top: 50px;
    }
    .stadium-text{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10px;
        margin-right: 10px;
        p{
            font-size: 16px;
            color: $color-secondary ;
        }
        h5{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            color: #d6274a; ;
        }
        .world-cup{
            @include posicionamiento;
            img{
            height: 65%;
             width: 65%;
            } 
            img:hover{
            height: 66%;
            width: 66%;
            }
        }
    }
    .stadium{
        .row{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 80%;
            width: 80%;
             box-shadow: 0px 0px 20px;
             border-style: solid;
             border-color: $color-primary;
             padding: 0;
             margin: 5px;
             @media (max-width:700px){
                 height: 200;
                 width: 320px;
                 margin-top: 50px;
             }
         }
         img:hover{
            height: 82%;
            width: 82%;
         }
        }
    }
}
