
main{
    .row{
        h3{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        color: $color-secondary;
        }
        a{
            text-decoration: none;
        }
    }
    .torneo {
        @include posicionamiento;
        img{
        height: 25px; 
        }
        .matchces{
            @include posicionamiento;
            ol{
                margin-top: 20px;
                font-size: 18px;
                border-radius:  6px;
                border: 5px ;
                width:90%;
            }
        }
    }
      
}